<%- include("partials/header.ejs") %>
 
    <% if (locals.title) { %> <!--if use (locals.data) then doesnt work-->
        <p>There are currently (?) articles to read.</p>
        <h1 id="title">
            <%= title %>
        </h1>
        <p id="body">
            <%=body%>
        </p>       
        <h3 id="author">
            <%=author%>
        </h3>
    <% } else { %>
        <h1>no new articles, try creating one</h1>
    <% } %>

    <ol> <!--how to get and display multiple articles, asynhronous fetching? idk if thats a thing-->
        <li>article name</li>
        <li>article name</li>
        <li>article name</li>
        <li>article name</li>
        <li>article name</li>
        <li>article name</li>
    </ol>

    <a href="/new_post_form">create new post</a>


<%- include("partials/footer.ejs") %>