<%- include("partials/header.ejs") %>
 
    <% if (locals.title) { %> <!--if use (locals.data) then doesnt work-->
        <p>There are currently <%= quantity %> articles to read.</p>
        <h1 id="title">
            <%= title %>
        </h1>
        <p id="body">
            <%=body%>
        </p>       
        <h3 id="author">
            <%=author%>
        </h3>
    <% } else { %>
        <h1>No new articles to view. Be a Legend, and create one!</h1>
    <% } %>

    <h2>All posts</h2>
    <ol> <!--loop article titles, then make titles a link to then search and GET request that data.-->
        <% recentPosts.forEach((posts) => { %>
        <li> 
            <a href="/posts/<%=posts.id%>"><%= posts.title %></a>
        </li>
        <% }) %>
    </ol>

    <a href="/new_post_form">create new post</a>


<%- include("partials/footer.ejs") %>