<%- include("partials/header.ejs") %>
 
    <% if (locals.title) { %> 
        <h1 id="title">
            <%= title %>
        </h1>
        <p id="body">
            <%=body%>
        </p>       
        <h3 id="author">
            <%=author%>
        </h3>
    <% } else { %>
        <h1>No new articles to view. Be a Legend, and create one!</h1>
    <% } %>


    <a href="/new_post_form">create new post</a>


<%- include("partials/footer.ejs") %>